{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}
{% block body %}


        <div id="three-container"> </div>

{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}
<script>
    let largeur = $('#three-container').width();
    alert(largeur);
    //$('#three-container').children().width(largeur+" !important;");
</script>