{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}
{% block body %}


        <div id="three-container"> </div>

{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}
<script>
    $(document).ready(function () {
        let largeur = $('#three-container').width();
        document.querySelector('canvas').style.width=largeur;
});
</script>