{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}

{% block body %}
<div class="container" style="top:0;left:0;margin:0;padding:0;"><div id="three-container" style="top:0;left:0;margin:0;padding:0;"> </div></div>

        
<div class="container-fluid">
    <div class="row">
        <h1 style="position:relative;z-index:9998;bottom:0;color:white;">SALUT LES QUEUES</h1>
    </div>
</div>
{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}
