{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div id="three-container"> </div>
    </div>
</div>



{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}