{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>

<div id="three-container"> </div>



{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('threeBase') }}
{{ encore_entry_script_tags('three') }}

{% endblock %}