{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('accueil') }}
{% endblock %}
{% block body %}

<h1>PAGE DE TEST</h1>

{% endblock %}
{% block javascripts %}

{{ encore_entry_script_tags('accueil') }}

{% endblock %}