{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}
<style>
    body{
        margin:0;
        overflow:hidden;
    }
</style>
{% block body %}


        <div id="three-container"> </div>

{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}
<script>
    $(window).on('load', function() {
        let largeur = $('#three-container').width();
        $('#three-container').children().removeAttr('style').width(largeur);
    });
</script>