{% include "header.html.twig" %}
{% block stylesheets %}
{{ encore_entry_link_tags('three') }}
{% endblock %}

{% block body %}

<div id="three-container"> </div>


<div class="container-fluid" style="pointer-events: none;">
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    <div class="row">
        <h1>SALUT LES QUEUES</h1>
    </div>
    
</div>
{% endblock %}
<script src="./assets/three/js/three.min.js"></script>
{% block javascripts %}
{{ encore_entry_script_tags('three') }}
{% endblock %}
