{% block head_assets %}
<!-- LINK -->
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}

{% endblock %}
<!-- SCRIPT -->
{% block javascripts %}

{{ encore_entry_script_tags('app') }}

{% endblock %}

{% endblock %}

<title>Fortnite Gather</title>
<link rel="shortcut icon" href="{{ url('images')}}/favicon.ico">

{% block header %}

{% endblock %}