{% block head_assets %}
<!-- LINK -->
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}

{% endblock %}
<!-- SCRIPT -->
{% block javascripts %}

{{ encore_entry_script_tags('app') }}

{% endblock %}

{% endblock %}

<title>Fortnite Gather</title>
<meta name="description" content="Marre de cherche un 3ème joueur pour pouvoir lancer en arène ? Tu veux un adversaire a ta taille pour build fight ? Fortnite Gather va te changer la vie !" />
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="shortcut icon" href="{{ url('images')}}/favicon.ico">

{% block header %}

{% endblock %}